body {
    position: absolute;
    top: 3rem;
    left: 10rem;
    right: 10rem;
}
div.summary {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    max-width: fit-content;

}

.search {
    border: 1px solid gray;
    max-width: 200px;
    position: sticky;
    top: .5rem;
}

.email_sender {
    margin-bottom: none;
    color: blue;
}

.compose {
    color: red;
    background-color: azure;
    border-radius: 35%;
    position: fixed;
    bottom: 3rem;
    left: 35rem; 
    z-index: 1;
    padding: .8rem .8rem;

}

.tag {
    flex-grow: 1;
    background-color: cadetblue;
    border-radius: 50%;
    padding: 1.9rem;
    float: left;
    margin-right: 1.9rem;
}

.time {
    float: right;
    flex-grow: 1;
}

.read {
    display: flex;
    flex-direction: column;
}

.list {
    width: 100%;
    margin-bottom: 3rem;
}

h2 {
    display: inline;
}
