body {
    position: absolute;
    top: 3rem;
    left: 30rem;
}
div.summary {
    display: flex;
    flex-direction: column;
    align-content: stretch;

}
div.title {
    display: block;
}

.search {
    border: 1px solid gray;
}

.list {
   flex-basis: auto;
   width: 800px;  /* Or whatever */
    height: auto;
   /* background-color: brown; */
}

ul li {
    list-style-type: none;
    right: 2rem;
}

.compose {
    color: red;
    background-color: azure;
    border-radius: 25%;
    position: fixed;
    bottom: 3rem;
    left: 35rem; 
    z-index: 1;
    padding: .8rem .5rem;

}

.tag {
    background-color: cadetblue;
    border-radius: 50%;
    padding: 1rem;
    float: left;
}

ul h4 {}