body {
    position: absolute;
    top: 3rem;
    left: 30rem;
}
div.summary {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    max-width: fit-content;

}
div.title {
    display: block;
}

.search {
    border: 1px solid gray;
    max-width: 100px;
}



ul li {
    list-style-type: none;
    right: 2rem;
}

.compose {
    color: red;
    background-color: azure;
    border-radius: 25%;
    position: fixed;
    bottom: 3rem;
    left: 35rem; 
    z-index: 1;
    padding: .8rem .5rem;

}

.tag {
    background-color: cadetblue;
    border-radius: 50%;
    padding: 1rem;
    float: left;
}

.read {
    display: flex;
    flex: column nowrap;
}

.grouping.title {
    /* flex-grow: 1 */
}

.list {
    display: flex;
    flex-direction: column;
}

.grouping {
    display: flex;
    flex-direction: row;
}